
<div class="container">

    <form [formGroup]="fg" (ngSubmit)="InsertMbre()">

        <fieldset>
            <legend>Votre Inscription</legend>

            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" formControlName="lastName" placeholder="Entrez votre nom">
            </div>

            <div class="form-group">
                <label for="nom">Prenom</label>
                <input type="text" class="form-control" id="prenom" formControlName="firstName" placeholder="Entrez votre prenom">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez votre mail">
            </div>
            <div class="form-group">
                <label for="">Login</label>
                <input type="text" class="form-control" id="login" formControlName="lg" placeholder="Entrez votre login">
            </div>

            <div class="form-group">
                <label for="motPasse">Password</label>
                <input id="motPasse" class="form-control" name="motPasse" type="password"  formControlName="pw" placeholder="Entrez votre mot de passe">
            </div>

            <div class="form-group">
                <label for="">Date Naissance</label>
                <input type="date" class="form-control" id="dateNaiss" formControlName="birthday" placeholder="Entrez votre date naissance">
            </div>

           <!--  <div class="form-group">
                <label for="">Centre Formation</label>
                <input type="text" class="form-control" id="Centre" formControlName="center" placeholder="Entrez le Centre">
            </div> -->

            <div class="form-group">
              <label for="centreFormation">Centre Formation</label>
              
               <select formControlName= "cf" (change)="changeCF($event)" class="form-control">  
                <option [value]= "centreF.idCentre" *ngFor = "let centreF of centreFormationList">{{centreF.nomCentre}}</option>
            </select>
            </div>
            <button  class="btn btn-primary" type="submit">Envoyer</button>
        </fieldset>
    </form>
</div>

