
<div class="container">
<ng-container *ngIf="fg">
    <form [formGroup]="fg" (ngSubmit)="UpdateMbre()">

        <fieldset>
            <legend>Modifier Membre</legend>

            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" formControlName="lastName" placeholder="Entrez votre nom">
            </div>

            <div class="form-group">
                <label for="nom">Prenom</label>
                <input type="text" class="form-control" id="prenom" formControlName="firstName" placeholder="Entrez votre prenom">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez votre mail">
            </div>
            <div class="form-group">
                <label for="">Login</label>
                <input type="text" class="form-control" id="login" formControlName="lg" placeholder="Entrez votre login">
            </div>

            <div class="form-group">
                <label for="motPasse">Password</label>
                <input id="motPasse" class="form-control" name="motPasse" type="password"  formControlName="pw" placeholder="Entrez votre mot de passe">
            </div>

            <div class="form-group">
                <label for="">DateNaiss</label>
                <input type="datetime-local" class="form-control" id="dateNaiss" formControlName="birthday" placeholder="Entrez votre date naissance">
            </div>
            <div class="form-group">
                <label for="">Numero Permis</label>
                <input type="text" class="form-control" id="numPermis" formControlName="numPermis" placeholder="Entrez votre numero de permis">
            </div>
            <div class="form-group">
                <label for="">Date Validite Permis </label>
                <input type="datetime-local" class="form-control" id="dateValPermis" formControlName="datePermis" placeholder="Entrez une  date ">
            </div>
            <div class="form-group">
                <label for="">Date Validite CF </label>
                <input type="datetime-local" class="form-control" id="dateValCF" formControlName="dateValCF" >
            </div>

            <div class="form-group">
                <label for="">Date Fin CF </label>
                <input type="datetime-local" class="form-control" id="FinCF" formControlName="dateFinCF" >
            </div>

             <div class="form-group">
              <label for="centreFormation">Centre Formation</label>
              
               <select formControlName= "cf" (change)="changeCF($event)" class="form-control">  
                <option [ngValue]= "centreF.idCentre" *ngFor = "let centreF of centreFormationList" >{{centreF.nomCentre}}</option>
            </select>
            </div> 
            <button  class="btn btn-primary" type="submit">Envoyer</button>
        </fieldset>
    </form>
</ng-container>
</div>


