ul {
    background-color: darkred;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    font-size: larger;
  }
  li {
    padding: 0.7em;
  
  }
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  a:hover {
    color: yellow;
  }