<nav>
    <ul>
      <li><a routerLink="/home">Accueil</a></li>
      <!-- <li *ngIf="!membreService.userIsConnected()"> -->
        <li><a routerLink="search">Recherche</a></li>
     <li><a routerLink="/offre-covoiturage">Proposer un Trajet</a></li>
    
        <li><a routerLink="/membre-create">S'enregistrer</a></li> 
      <!-- <li><a routerLink="/vehicule-create">Vehicule</a></li> -->
       <li><a [routerLink]="'/membre-update/'">Update Membre</a></li> 
      <li> <a [routerLink]="'/membre-list'">Details Membre</a></li>
      <li><a routerLink="/login">Connexion</a></li>
      <li> 
      <a (click)="logout()" >Se déconnecter</a>
    </li> 
    <li><a [routerLink]="'/centre-formation'">Centre Formation</a></li>
     <li> <a [routerLink]="'/centreformation-list'">Details Centre</a></li> 
      <!-- <app-login></app-login> -->
    </ul>
  </nav>
