<div class="container" style="margin-top: 50px;"> 
 

    <div class="p-4 border rounded">

        <table class="table"  style="margin-top: 20px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> NO </th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Date Naissance</th>
                  <th scope="col">Centre Formation</th> 
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
          <tr *ngFor = "let mbre of membreList; let i= index">
                     <td>{{i+1}}</td>
                     <td>{{mbre.nom}}</td>
                     <td>{{mbre.prenom}}</td>
                     <td>{{mbre.dateNaiss}}</td> 
                   <td>{{mbre.centreFormation.nomCentre}}</td>  
                     <td><a class="btn btn-info"  [routerLink]="['/membre-update', mbre.idMembre]" >Edit</a></td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>

