
 <div class="container" style="margin-top: 50px;"> 
    <!-- <h2 class="text-info">Liste Centre Formation </h2>

    <ul>
        <li *ngFor="let cf of  centreFormationList; let index = index;">
            <span>{{ index }}</span>
            <span>:</span>
            <span>{{ cf.NomCentre}}</span>
        
        </li>
    </ul> -->
   

    <div class="p-4 border rounded">

        <table class="table"  style="margin-top: 20px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> NO </th>
                  <th scope="col">Nom Centre de Formation</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let cf of  centreFormationList; let i= index">
                     <td>{{i+1}}</td>
                     <td>{{cf.nomCentre}}</td>
                  </tr>
              </tbody>
        </table>
    </div>
</div> 

