
<div class="container">

    <form [formGroup]="fg" (ngSubmit)="InsertOffre()">

        <fieldset>
            <legend>Encodez une offre</legend>

            <div class="form-group">
                <label for="nombrePlace">Nombre de  Place</label>
                <input type="number" class="form-control" id="nbrePlace" formControlName="nbrePlace" placeholder=" Place disponible">
            </div>
            <div class="form-group">
                <label for="">Date De Creation</label>
                <input type="date" class="form-control" id="dateCreation" formControlName="dCreation">
            </div>
 <!--            <div class="form-group">
                <label for="mange">Mangez?</label>
                <input type="radio" class="form-control" id="mange" formControlName="mg"  value="1"
                [checked]="{{mange}}">
            </div>
            <div class="form-group">
                <label for="fume">Fumez?</label>
                <input type="radio" class="form-control" id="fum" formControlName="fum"  value="1"
                [checked]="{{fumeur}}">
            </div>
            <div class="form-group">
                <label for="music">Ecoutez Musique?</label>
                <input type="radio" class="form-control" id="musiq"   value="1"
                [checked]="{{music}}"formControlName="musiq" >
            </div> -->
            <input hidden type="text" class="form-control" id="mbre" formControlName="mbre" placeholder="membre">
            <button  class="btn btn-primary" type="submit">Creez</button>
        </fieldset>
    </form>
</div>