
<!-- <p> -->
    <!-- <a [routerLink]="['/home']"></a> &nbsp; | &nbsp; -->
<!--     <a [routerLink]="'/membre-create'">Nouveau Membre</a><br>
    <a [routerLink]="'/centre-formation'">Centre Formation</a><br>
    <a [routerLink]="'/centreformation-list'">Liste Centre</a><br>
  </p> -->

  <!-- <app-centreformartion-list></app-centreformartion-list>  -->


  <app-menu></app-menu>
<router-outlet></router-outlet>