<div *ngIf="showIsConnected">
    <span>Bonjour {{MembreService.currentUser.login}}</span>
  </div>

<div id="logreg-forms"  *ngIf="!showIsConnected">
    <form class="form-signin" [formGroup]="f" (ngSubmit)="sign()">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Continuez avec :</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i>  Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i>  Google+</span> </button>
        </div>
        <p style="text-align:center"> ou </p>
       
          <input type="text" id="pseudo_log" placeholder="Pseudo" class="form-control"  formControlName="pseudo_log" required=""/>
       
           <input type="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" formControlName="pwd_log"  required="">
        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Connexion</button>
        <a href="#" id="forgot_pswd">Mot de passe oublié?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Pas encore membre ? Inscrivez-vous</button>
        <div *ngIf="errorMsg !== ''">
            {{errorMsg}}
          </div>
    </form>
    
    
</div>

  <!--   <form action="/reset/password/" class="form-reset">
        <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
        <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
    </form> -->

   <!--  <form action="/signup/" class="form-signup">
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
        </div>
        <div class="social-login">
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
        </div>

        <p style="text-align:center">OR</p>

        <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
        <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
        <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
        <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">

        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
        <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
    </form>
    <br>

</div> -->
