
   
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <div class="main">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Où voulez-vous aller ?</h1>
        <!-- Actual search box -->
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Depart">
        </div>

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Destination">
        </div>
        <div class="form-group has-search">
            <input type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12 19:30" >
            <!-- <input type="number" id="quantity" name="quantity" min="1" max="5" value="nbre pers">-->
        </div>
        <div class="form-group has-search">
        
        <button>Chercher</button>
        </div>

    </div>
