
    <div class="container">

        <form [formGroup]="fg" (ngSubmit)="InsertCentreF()">
    
            <fieldset>
                <legend>Encoder le centre de formation</legend> 
                <div class="form-group">
                    <label for="nomCf">Centre Formation</label>
                    <input type="text" class="form-control" id="centreF" formControlName="centreF" placeholder="Entrez votre centre de formation">
                </div>
                <button class="btn btn-primary" type="submit">Enregistrez</button>
            </fieldset>
        </form>
    </div>
