<div class="container">

    <form [formGroup]="fg" (ngSubmit)="InsertVehicule()">

        <fieldset>
            <legend>Encodez votre vehicule</legend>

            <div class="form-group">
                <label for="numPlaque">Numero Plaque</label>
                <input type="text" class="form-control" id="numPlaque" formControlName="numPlaque" placeholder=" Plaque Immatriculation">
            </div>
            <div class="form-group">
                <label for="model">Modèle</label>
                <input type="text" class="form-control" id="model" formControlName="modele" placeholder="Modele Vehicule">
            </div>
            <div class="form-group">
                <label for="marque">Marque</label>
                <input type="text" class="form-control" id="marque" formControlName="marque" placeholder="Marque Vehicule">
            </div>
            <input hidden type="text" class="form-control" id="mbre" formControlName="mbre" placeholder="membre">
             <!-- <div class="form-group">
                <label for="">Membre</label>
                <input disabled type="text" class="form-control" id="mbre" formControlName="mbre" placeholder="membre">
            </div> -->
            <button  class="btn btn-primary" type="submit">Creez</button>
        </fieldset>
    </form>
</div>
