<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Le top  <b>des destinations</b></h2>
                    </div>
                </div>
            </div>
            <table class="table"  style="margin-top: 20px;">
                <thead class="thead-dark">
                    <tr>
                        <th>Depart</th>
                        <th>Arrivée</th>
                        <th>Heure Depart</th>
                        <th>Heure Arrivée</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gare Du midi</td>
                        <td>TechnofuturTic</td>
                        <td>7:30</td>
                        <td>8:30</td>
                        <th>5€</th>
                        <td>
                           <a href="reserver.html">Reserver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>TechnofuturTic</td>
                        <td>Metro Delta</td>
                        <td>17:00</td>
                        <td>18:00</td>
                        <th>5€</th>
                        <td>
                           <a href="reserver.html">Reserver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Gare Namur</td>
                        <td>Technobel</td>
                        <td>8.00</td>
                        <td>8.30</td>
                        <th>5€</th>
                        <td>
                           <a href="reserver.html">Reserver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Gare de Libramont</td>
                        <td>Interface3</td>
                        <td>7.00</td>
                        <td>8.30</td>
                        <th>5€</th>
                        <td>
                           <a href="reserver.html">Reserver</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
